{% load staticfiles %}
<html>
<head>
    <title>da_aviasale</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <h2>search form</h2>
            <form class="form" id="search-form" action="{% url 'flights-search' %}">
                {{ search_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="find" />
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h2>results</h2>
            <div class="results"></div>
        </div>
    </div>
    <div class="modal fade" id="orderPopup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Your order</h4>
                </div>
                <div class="modal-body">
                    <form class="contact" action="{% url 'order' %}" name="order">
                        <label class="label" for="places">Places</label><br>
                        <input type="text" name="places" class="input" readonly><br>
                        <label class="label" for="cost">Cost per place</label><br>
                        <input type="text" name="cost" class="input" readonly><br>
                        <label class="label" for="total_cost">Total</label><br>
                        <input type="text" name="total_cost" class="input" readonly><br>
                        <label class="label" for="name">Name</label><br>
                        <input type="text" name="name" class="input" value="name"><br> {% comment %}todo: remove default value{% endcomment %}
                        <label class="label" for="card">Card №</label><br>
                        <input type="text" name="card" class="input" value="1212121212121212"><br> {% comment %}todo: remove default value{% endcomment %}
                        <input type="hidden" name="flight" class="input">
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="order" id="order" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/ui.js' %}"></script>
<style>
    .label {
        color: #000;
    }
    .contact input {
        width: 75%;
    }
    .results_row {
        display: block;
    }
    .results span {
        margin-right: 50px;
    }
</style>
</body>
</html>